# All OUTPUT files
!OUTPUT/*
!OUTPUT/.gitkeep
!doc_work/

OUTPUT/*
_doc/* ! rm the _doc files
*.ipynb_checkpoints
*.png
*.txt
*.eps
_slides/figures/*

### Latex
*.tex
*.aux
*.bbl
*.log
*.fdb_latexmk
*.fls
*.out
*.gz
*.blg
*.nav
*.snm
*.thm
*.toc

### Tags
*.tags
*.tags1
.DS_Store
